/**/

*{
	margin: 0;
	padding: 0;
	font-family: 'Cabin', sans-serif;
}

html,body{
	background-color: #003e7a !important;
}

img{
	width: 290px;
	height: 128.33px;
}

/*//NAVBAR STYLING//*/

nav.navbar{
	padding: 0;
	margin: 0;
	height: 52px;
	background-color: white;
	box-shadow: 0px 2px 20px 2px rgba(0, 0, 0, 0.5);
	z-index: 1;
	border: none;
}

nav .container{
	background-color: white;
}

.upper-nav{
	width: 100%;
    background-color: #004d8e;
}

.upper-nav-container{
	margin: 0 auto;
	height: 62px;
	max-width: 1300px;
}

.upper-nav-container ul{
	position: relative;
	top: 15px;
	float: right;
	list-style: none;
}

.upper-nav-container li{
	float: left;
}

.fa{
	color: #ffd51e;
	line-height: 32px;
	padding-right: 5px;
}

div#wrapper-nav{
	margin: 0 auto;
	width: 100%;
	max-width: 1236px;
}

ul.options{
 	height: 52px;
}

ul.dropdown-menu{
	margin-top: 1px !important;
	padding: 0 !important;
}

.divider{
	margin: 0 !important;
}

ul.dropdown-menu li a{
	height: 40px;
	padding-top: 10px !important;
	color: #004d8e;
}

ul.dropdown-menu li a:hover{
	background-color: #004d8e !important;
	color: #fff;
}

.image-a{
	display: block;
	position: absolute;
	vertical-align: top;
	overflow: visible;
	top: -59px;
	z-index: 1;
}

.inside{
	width: 100%;
}

div#bs-nav-demo{
	position: relative;
	margin: 0;
	width: 100%;
	height: 52px;
}

.navbar-default .navbar-nav li a.nav-option{
	color: rgb(0, 77, 142);
	font-size: 18px;
}

.nav .dropdown .nav-option{
	color: rgb(0, 77, 142);
	font-size: 18px;

}

.navbar-right li{
	padding: 0;
	height: 52px;
	width: 160px;
	font-size: 18px;
}

.navbar-right a#button-a{
	border: none;
	background-image: linear-gradient(rgb(255, 213, 30), rgb(223, 184, 27)); 
	height: 52px;
	width: 160px;
	font-weight: 700;
	color: white;
	text-align: center;
}

.navbar-right a#button-a:hover{
	background-image: linear-gradient(rgb(223, 184, 27), rgb(223, 184, 27));
}

#phone{
	margin-top: 20px;
	padding: 16px 32px 16px 10px;
	color: white;
	font-size: 24px;
	font-weight: 700;
	line-height: 32px;
	text-decoration: none;
}

#dashboard{
	color: #b3d9ff;
	padding: 20px 16px;
	font-size: 16px;
	line-height: 32px;
}

.wrapper{
	max-width: 1600px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

header{
	width: 100%;
	height: 635px;
	background-color: rgb(0, 77, 142);
}

.background{
	width: 100%;
	height: 100%;
	background-image: url('https://morrisjenkins.com/uploads/Banners/home-banner.jpg');
	background-size: 100% auto;
	background-repeat: no-repeat;
}

.inner{
	position: relative;
	bottom: -120px;
}

.statement{
	position: relative;
	background-color: rgba(0, 31, 63, 0.75);
	left: -60px;
	border-radius: 15px;
	padding: 38px 48px;
}

.statement h1{
	color: #fff;
	font-size: 48px;
	font-weight: 700;
	line-height: 52.8px;
	padding-bottom: 20px;
	font-size-adjust: 100%;
}

.statement p{
	font-size: 24px;
	font-weight: 400;
	line-height: 32px;
	color: #fff;
	font-size-adjust: 100%;
}

.statement p a{
	display: block;
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	color: rgb(179, 217, 255);
	text-decoration: underline !important;
	-webkit-font-size-adjust: 100%;
	font-size-adjust: 100%;
}

.statement p a:hover{
	color: rgb(179, 217, 255);
}

.schedule{
	position: relative;
	z-index: 1;
	margin: 0 auto;
	margin-top: 80px;
	padding: 40px 80px 40px 30px;
	max-width: 550px;
	border-radius: 15px;
	background-image: linear-gradient(rgb(255, 213, 30), rgb(223, 184, 27)); 
}

.schedule:hover{
	background-image: linear-gradient(rgb(223, 184, 27), rgb(223, 184, 27));
}

.schedule a:hover, a:link{
	text-decoration: none !important;
}

.schedule span{
	display: block;
}

.schedule span:nth-child(1){
	color: rgb(116, 96, 10);
	font-size: 24px;
	line-height: 31px;
	font-size-adjust: 100%;
}

.schedule span:nth-child(2){
	padding-bottom: 3px;
	color: rgb(48, 48, 48);
	font-size: 38px;
	font-weight: 700;
	line-height: 41px;
	font-size-adjust: 100%;
}

.schedule span:nth-child(3){
	color: #fff;
	font-size: 18px;
	line-height: 25px;
	font-size-adjust: 100%;
}

.schedule i{
	position: absolute;
	right: 20px;
	color: #fff;
}

section{
	width: 100%;
	height: 800px;
	background-color: #fff;
}

footer{
	width: 100%;
	height: 500px;
	background-color: rgb(226, 226, 226);
}

.box{
	width: 100%;
	height: 250px;
	margin-top: 40px;
	border-radius: 15px;
	color: #fff;
	font-size: 24px;
	font-weight: 700;
}

.banner{
	position: relative;
	bottom: -82%;
	height: 65px;
	background-color: rgb(0, 77, 142);
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}

.box:hover > .banner{
	background-color: #003e7a;
	text-decoration: none;
}

.banner span{
	position: relative;
	padding-left: 20px;
	top: 12px;
	color: #fff;
	font-size: 24px;
	font-weight: 700;
}

i.icon{
	position: relative;
	top: 18px;
	left: -10px;
	float: right;
	font-size: 30px;
	font-weight: 400;
	color: #fff;
}

.box:hover{
	transform: scale(.99);
	transition: 0.1s ease-in;
}

.service{
	background-image:url('https://morrisjenkins.com/uploads/Modules/_560xAUTO_crop_center-center/service.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.troubleShoot{
	background-image:url('https://morrisjenkins.com/uploads/Modules/_560xAUTO_crop_center-center/module-troubleshoot.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.special{
	background-image: url(https://morrisjenkins.com/img/promo-furnace-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 15px;
	margin-top: 80px;
	padding: 15px 0px 20px 40px;
	width: 100%;
	height: 216px;
}

.special:hover{
	transform: scale(.99);
	transition: 0.1s ease-in;
}

.special h3{
	font-size: 24px;
	line-height: 31.2px;
	color: rgb(116, 96, 10);
	font-weight: 400;
}

.special p{
	color: rgb(48, 48, 48);
	font-size: 48px;
	font-weight: 700;
	line-height: 52.8px;
}

.blue{
	color: rgb(0, 77, 142);
}

.special-btn{
	display: inline-block;
	position: relative;
	top: -50%;
	transform: translateY(-40%);
	float: right;
	margin-right: 30px;
	padding: 17px 20px 19px 30px;
	background-image: linear-gradient(rgb(255, 213, 30), rgb(223, 184, 27)); 
	color: rgb(48, 48, 48);
	font-size: 24px;
	line-height: 26.4px;
	border-radius: 15px;
}

.centered{
	display: block;
	position: relative;
	top: -42px;
	margin: 0 auto;
	width: 175px;
	height: 77px;

}

.footer-box{
	width: 100%;
	height: 300px;
	border-radius: 15px;
}

.priority{
	background-image:url('https://morrisjenkins.com/uploads/Modules/_560xAUTO_crop_center-center/pay-online-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.content{
	position: absolute;
	max-width: 554px;/*//Fixes bootstrap overflow bug//*/
	bottom: 0;
}

.priority-banner{
	position: relative;
	height: 65px;
	background-color: rgb(0, 77, 142);
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	color: #fff;
	font-size: 24px;
	font-weight: 700;
}

.priority-banner span{
	position: relative;
	padding-left: 32px;
	top: 12px;
	color: #fff;
	font-size: 24px;
	font-weight: 700;
}

#priority-message{
	color: #fff;
	font-size: 26px;
	font-weight: 700;
	padding: 10px 32px;
	background-color: rgba(0, 31, 63, 0.75);
}

.priority:hover{
	transform: scale(.99);
	transition: 0.1s ease-in;
}

.priority:hover > .banner{
	background-color: #003e7a;
	text-decoration: none;
}

.contact{
	background-image: url(https://morrisjenkins.com/img/footer-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover; 
}

.contact-message{
	position: relative;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	margin: 0 auto;
	text-align: center;
}

.contact-message h5{
	color: #fff;
	font-size: 38px;
	font-weight: 700;
	height: 41px;
	line-height: 41.8px;
	margin-top: 0;
	margin-bottom: 16px;
}

#review-link{
	position: relative;
	color: rgb(255, 213, 30);
	display: inline-block;
	font-size: 24px;
	font-weight: 700;
	height: 31px;
	line-height: 31.2px;
	margin-left: 16px;
	margin-top: 16px;
	top: -18px;
	width: 169.281px;
}

.circle{
	display: inline-block;
	width: 60px;
	height: 60px;
	margin: 2px 5px;
	border: 2px solid #ffd51e;
	border-radius: 50%; 
}

.circle i{
	position: relative;
	text-align: center;
	top: 50%;
	margin-left: 5px;
	transform: translateY(-50%);
	font-size: 35px;
}






