/**/

*{
	margin: 0;
	padding: 0;
	font-family: 'Cabin', sans-serif;
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
body, html{
	background-color: #003e7a !important;
	height: 100%;
	min-width: 340px;
}
/*//NAVBAR STYLING//*/
.mobile-nav{
	position: relative;
	display: none;
	width: 100%;
	height: 60px;
	background: rgb(0, 77, 142);
	box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.5);
	overflow: visible;
}
.mobile-nav img{
	margin-left: 80px;
	margin-top: 10px;
	width: 156px;
	height: 69px;
}
.side-nav{
	position: absolute;
	height: 100%;
	right: 0;
	z-index: 2;
}
#menu{
	width: 100px;
	position: relative;
	float: left;
	margin-top: 15px;
	margin-right: 30px;
}
#menu-p{
	position: absolute;
	font-family: 'Open Sans', sans-serif;
	left: 35px;
	font-size: 24px;
	top: 0px;
}
.burger{
	width: 28px;
    height: 3px;
    background-color: #fff;
    border-radius: 1px;
    margin: 6px 0;
}
.now{
	background: rgb(223, 184, 27);
}
.side-block a{
	text-decoration: none;
	color: rgb(0, 77, 142);
	line-height: 25.2px;
	height: 65px;
}
.side-nav-content{
	position: relative;
	width: 270px;
	height: 100%;
	float: right;
}
.side-nav ul{
	background: #fff;
	padding: 0;
	margin: 0;
	list-style: none;
}
.hidden{
	display: none;
}
.side-block{
	font-size: 18px;
	padding: 20px 35px;
}
#close{
	background: #003e7a;
}
#close a{
	color: #fff;
}
/*//END OF SIDE_NAVBAR//*/
img{
	width: 290px;
	height: 128.33px;
}
nav.navbar{
	padding: 0;
	margin: 0;
	height: 52px;
	background-color: white;
	box-shadow: 0px 2px 20px 2px rgba(0, 0, 0, 0.5);
	z-index: 1;
	border: none;
}
nav .container{
	background-color: white;
}
.upper-nav{
	width: 100%;
    background-color: #004d8e;
}
.upper-nav-container{
	margin: 0 auto;
	height: 62px;
	max-width: 1300px;
}
.upper-nav-container ul{
	position: relative;
	left: -80px;
	top: 15px;
	float: right;
	list-style: none;
}
.upper-nav-container li{
	float: left;
}
.fa{
	color: #ffd51e;
	line-height: 32px;
	padding-right: 5px;
}
div#wrapper-nav{
	margin: 0 auto;
	width: 100%;
	max-width: 1236px;
}
ul.options{
 	background: #fff;
 	position: relative;
 	padding-left: 330px;
}
ul.dropdown-menu{
	margin-top: 1px !important;
	padding: 0 !important;
}
.divider{
	margin: 0 !important;
	border: 1px solid rgba(0, 0, 0, 0.5);
}
ul.dropdown-menu li a{
	height: 40px;
	padding-top: 10px !important;
	color: #004d8e;
}
ul.dropdown-menu li a:hover{
	/*background-color: #004d8e !important;*/
	color: #fff;
}
.image-a{
	display: block;
	position: absolute;
	vertical-align: top;
	overflow: visible;
	top: -44px;
	z-index: 1;
}
.inside{
	width: 100%;
}
div#bs-nav-demo{
	position: relative;
	margin: 0;
	width: 100%;
	z-index: 2;
}
a.nav-option{
	color: rgb(0, 77, 142) !important;
	font-size: 18px !important;
}
.nav .dropdown .nav-option{
	color: rgb(0, 77, 142);
	font-size: 18px;

}
.navbar-right li{
	padding: 0;
	height: 52px;
	width: 160px;
	font-size: 18px;
}
.navbar-right a#button-a{
	border: none;
	background-image: linear-gradient(rgb(255, 213, 30), rgb(223, 184, 27)); 
	height: 52px;
	width: 160px;
	font-weight: 700;
	color: white;
	text-align: center;
}
.navbar-right a#button-a:hover{
	background-image: linear-gradient(rgb(223, 184, 27), rgb(223, 184, 27));
}
#phone{
	margin-top: 20px;
	padding: 16px 32px 16px 0px;
	color: white;
	font-size: 24px;
	line-height: 32px;
	text-decoration: none;
}
#dashboard{
	color: #b3d9ff;
	padding: 20px 16px;
	font-size: 16px;
	line-height: 32px;
	text-decoration: underline !important;
}
/*//END OF NAVEGATION BARS//*/
.wrapper{
	max-width: 1600px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
header{
	width: 100% !important;
	height: 635px;
	background-color: rgb(0, 77, 142);
}
.background{
	width: 100%;
	min-width: 400px;
	height: 100%;
	background-image: url('https://morrisjenkins.com/uploads/Banners/home-banner.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
}
.inner-container{
	position: relative;
	bottom: -120px;

}
.row{
	margin-right: 0 !important;
	margin-left: 0 !important;
	max-width: 100%;
}
.statement{
	position: relative;
	background-color: rgba(0, 31, 63, 0.75);
	left: -60px;
	border-radius: 15px;
	padding: 38px 48px;
}
.statement h1{
	color: #fff;
	font-size: 48px;
	font-weight: 700;
	line-height: 52.8px;
	padding-bottom: 20px;
}
.statement p{
	font-size: 24px;
	font-weight: 400;
	line-height: 32px;
	color: #fff;
}
.statement p a{
	display: block;
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	color: rgb(179, 217, 255);
	text-decoration: underline !important;
}
.statement p a:hover{
	color: rgb(179, 217, 255);
}
.schedule{
	position: relative;
	z-index: 1;
	margin: 0 auto;
	margin-top: 80px;
	padding: 40px 80px 40px 30px;
	max-width: 550px;
	border-radius: 15px;
	background-image: linear-gradient(rgb(255, 213, 30), rgb(223, 184, 27)); 
}
.schedule:hover{
	background-image: linear-gradient(rgb(223, 184, 27), rgb(223, 184, 27));
}
.schedule a:hover, a:link{
	text-decoration: none !important;
}
.schedule span{
	display: block;
}
.schedule span:nth-child(1){
	color: rgb(116, 96, 10);
	font-size: 24px;
	line-height: 31px;
}
.schedule span:nth-child(2){
	padding-bottom: 3px;
	color: rgb(48, 48, 48);
	font-size: 38px;
	font-weight: 700;
	line-height: 41px;
}
.schedule span:nth-child(3){
	color: #fff;
	font-size: 18px;
	line-height: 25px;
}
.schedule i{
	position: absolute;
	right: 20px;
	color: #fff;
}
.min-telephone{
	display: none;
	background-color: #004d8e;
}
section{
	width: 100%;
	height: 780px;
	background-color: #fff;
}
.inner{
	position: relative;
	bottom: -120px;
}
.box{
	width: 100%;
	height: 250px;
	margin-top: 40px;
	border-radius: 15px;
	color: #fff;
	font-size: 24px;
	font-weight: 700;
}
.banner{
	position: relative;
	bottom: -82%;
	height: 65px;
	background-color: rgb(0, 77, 142);
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}
.box:hover > .banner{
	background-color: #003e7a;
	text-decoration: none;
}
.banner span{
	position: relative;
	padding-left: 20px;
	top: 12px;
	color: #fff;
	font-size: 24px;
	font-weight: 700;
}
i.icon{
	position: relative;
	top: 18px;
	left: -10px;
	float: right;
	font-size: 30px;
	font-weight: 400;
	color: #fff;
}
.box:hover{
	transform: scale(.99);
	transition: 0.1s ease-in;
}
.service{
	background-image:url('https://morrisjenkins.com/uploads/Modules/_560xAUTO_crop_center-center/service.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.troubleShoot{
    background-image:url('https://morrisjenkins.com/uploads/module-troubleshoot.jpg');
	background-size: cover;
}
.special{
	background-image: url(https://morrisjenkins.com/img/promo-furnace-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 15px;
	margin-top: 80px;
	padding: 15px 0px 20px 40px;
	width: 100%;
	height: 216px;
}
.special:hover{
	transform: scale(.99);
	transition: 0.1s ease-in;
}
.special h3{
	font-size: 24px;
	line-height: 31.2px;
	color: rgb(116, 96, 10);
	font-weight: 400;
}
.special p{
	color: rgb(48, 48, 48);
	font-size: 48px;
	font-weight: 700;
	line-height: 52.8px;
}
.blue{
	color: rgb(0, 77, 142);
}
.special-btn{
	display: inline-block;
	position: relative;
	top: -50%;
	transform: translateY(-40%);
	float: right;
	margin-right: 30px;
	padding: 17px 20px 19px 30px;
	background-image: linear-gradient(rgb(255, 213, 30), rgb(223, 184, 27)); 
	color: rgb(48, 48, 48);
	font-size: 24px;
	line-height: 26.4px;
	border-radius: 15px;
}
footer{
	width: 100%;
	height: 500px;
	background-color: rgb(226, 226, 226);
}
.centered{
	display: block;
	position: relative;
	top: -42px;
	margin: 0 auto;
	width: 175px;
	height: 77px;

}
.footer-box{
	width: 100%;
	height: 300px;
	border-radius: 15px;
}
.priority{
	background-image:url('https://morrisjenkins.com/uploads/Modules/_560xAUTO_crop_center-center/pay-online-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.content{
	position: absolute;
	margin-right: 15px;
	bottom: 0;
}

.footer-box:hover > .content{
	margin-right: 0;
}
.priority-banner{
	position: relative;
	height: 65px;
	background-color: rgb(0, 77, 142);
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	color: #fff;
	font-size: 24px;
	font-weight: 700;
}
.priority-banner span{
	position: relative;
	padding-left: 32px;
	top: 12px;
	color: #fff;
	font-size: 24px;
	font-weight: 700;
}
#priority-message{
	color: #fff;
	font-size: 26px;
	font-weight: 700;
	padding: 10px 32px;
	background-color: rgba(0, 31, 63, 0.75);
}
.priority:hover{
	transform: scale(.99);
	transition: 0.1s ease-in;
}
.priority:hover > .banner{
	background-color: #003e7a;
	text-decoration: none;
}
.contact{
	background-image: url(https://morrisjenkins.com/img/footer-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover; 
}
.contact-message{
	position: relative;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	margin: 0 auto;
	text-align: center;
}
.contact-message h5{
	color: #fff;
	font-size: 38px;
	font-weight: 700;
	height: 41px;
	line-height: 41.8px;
	margin-top: 0;
	margin-bottom: 16px;
}
#review-link{
	position: relative;
	color: rgb(255, 213, 30);
	display: inline-block;
	font-size: 24px;
	font-weight: 700;
	height: 31px;
	line-height: 31.2px;
	margin-left: 16px;
	margin-top: 16px;
	top: -18px;
	width: 169.281px;
}
.circle{
	display: inline-block;
	width: 60px;
	height: 60px;
	margin: 2px 5px;
	border: 2px solid #ffd51e;
	border-radius: 50%; 
}
.circle i{
	position: relative;
	text-align: center;
	top: 50%;
	margin-left: 5px;
	transform: translateY(-50%);
	font-size: 35px
}
.circle:hover{
	transform: scale(1.1);
	border-color: #fff;
}
.circle:hover i{
	color: #fff;
}
@media only screen and (max-width: 1100px) {
	.mobile-nav{
		display: block;
	}
	.nav{
		display: none;
	}
	#menu{
		position: relative;
		font-size: 16px !important;
		color: #fff !important;
		float: right;
	}
	.wrapper{
		height: 590px;
	}
	header{
		height: 540px;
	}
	.image-a{
		display: none;
	}

	nav .container{
		background-color: rgb(0, 77, 142);
	}
	.inner-container{
		position: relative;
		bottom: -155px;
	}

	.upper-nav-container{
		display: none;
	}

	.container{
		margin: 0 !important;
		padding: 0 !important;
		width: 100% !important;
	}
	.statement{
		width: 100%;
		border-radius: 0;
		padding: 10px 30px;
		left: 0;
	}
	.statement h1{
		font-size: 30px;
		line-height: 1.2;
		padding: 0;
	}
	.schedule{
		position: relative;
		margin: 0;
		width: 100%;
		max-width: 100%;
		border-radius: 0;
		padding: 32px 48px 32px 24px;
		z-index: 0;
	}
	.schedule span:nth-child(1){
		font-size: 20px;
	}

	.schedule span:nth-child(2){
		font-size: 28px;
	}

	.schedule span:nth-child(3){
		font-size: 20px;
	}

	.schedule i{
		position: absolute;
		right: 18px;
		color: #fff;
	}
	.min-telephone{
		display: block;
		width: 100%;
		height: 100%;
		padding: 20px 0px;
		text-align: center;
	}
	section{
		height: auto;
		padding: 30px 0;
		overflow: auto;
		clear: both;
	}
	.inner{
		position: relative;
		height: 100%;
		bottom: 0;
	}
	.box{
		width: 100%;
		height: 170px;
	}
	.banner{
		position: relative;
		bottom: -82%;
		height: 60px;
	}
	.special{
		margin-top: 80px;
	}
	.special:hover{
		transform: scale(.99);
		transition: 0.1s ease-in;
	}
	.special h3{
		font-size: 24px;
		margin-top: 10px;
	}
	.special p{
		font-size: 30px;
		line-height: 1.1;
	}
	.special-btn{
		float: left;
		margin-top: 20px;
		top: 0;
		padding: 12px 15px 14px 25px;
		font-size: 18px;
	}
	.footer-box{
		width: 100%;
		height: 300px;
		border-radius: 15px;
	}
	.priority-banner{
		padding: 5px 0;
	}
	.priority-banner span{
		padding-left: 26px;
		font-size: 20px;
	}
	#priority-message{
		font-size: 20px;
	}
	.contact-message h5{
		font-size: 28px;
	}
	.circle{
		width: 50px;
		height: 50px; 
	}
	.circle i{
		font-size: 25px;
	}
}
@media only screen and (max-width: 880px) {
	.schedule{
		padding: 32px 48px 32px 24px;
	}
	.schedule span:nth-child(1){
		display: none;
	}
	.schedule span:nth-child(2){
		font-size: 28px;
	}
	.schedule span:nth-child(3){
		display: none;
	}
}
@media only screen and (max-width: 760px){
	section{
		height: 800px;
	}
	footer{
		height: 800px;
	}

	.footer-box{
		margin-top: 20px;
		height: 250px;
	}

	.priority-banner{
		font-size: 14px;
		padding: 5px 0;
	}
	.content{
		position: relative;
		bottom: -140px;
		width: 100%;
		margin-right: 15px;
	}
}
@media only screen and (max-width: 620px){
	.inner-container{
		position: relative;
		bottom: -190px;
	}
	.content{
		position: relative;
		bottom: -110px;
		width: 100%;
		margin-right: 15px;
	}
	#employee-value{
		display: none;
	}
}
@media only screen and (max-width: 458px){
	.mobile-nav img{
		margin-left: 40px;
	}
	.inner-container{
		position: relative;
		bottom: -220px;
	}
	.statement h1{
		font-size: 20px !important;
		line-height: 1.2;
		padding: 0;
	}

	.statement p{
		font-size: 16px;
		line-height: 1.1;
	}

	.footer-box{
		margin-top: 20px;
	}

	.priority-banner span{
		padding-left: 26px;
		font-size: 16px;
	}
}
@media only screen and (max-width: 382px){
	#priority-message{
		font-size: 18px;
	}
	.footer-box{
		margin-top: 40px;
	}
}









