/**/

*{
	margin: 0;
	padding: 0;
	font-family: 'Cabin', sans-serif;
}

html,body{
	background-color: #003e7a;
}

img{
	width: 290px;
	height: 128.33px;
}

header {
    background-image: url('../img/home-banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 610px;
}

section{
	height: 710px;
	width: 100%;
	background-color: #fff;
	color: black;
}

footer{
	height: 500px;
	width: 100%;
	background-color: rgb(226, 226, 226);
}

/*//NAVBAR STYLING//*/

nav.navbar{
	padding: 0;
	margin: 0;
	height: 52px;
	background-color: white;
	box-shadow: 0px 2px 20px 2px rgba(0, 0, 0, 0.5);
	z-index: 1;
	border: none;
}

nav .container{
	background-color: white;
}

.upper-nav{
	width: 100%;
    background-color: #004d8e;
}

.upper-nav-container{
	margin: 0 auto;
	height: 62px;
	max-width: 1300px;
}

.upper-nav-container ul{
	position: relative;
	top: 15px;
	float: right;
	list-style: none;
}

.upper-nav-container li{
	float: left;
}

.fa{
	color: #ffd51e;
	line-height: 32px;
	padding-right: 5px;
}

div#wrapper-nav{
	margin: 0 auto;
	width: 100%;
	max-width: 1236px;
}

ul.options{
 	height: 52px;
 }

.image-a{
	display: block;
	position: absolute;
	vertical-align: top;
	overflow: visible;
	top: -59px;
	z-index: 1;
}

.inside{
	width: 100%;
}

div#bs-nav-demo{
	position: relative;
	margin: 0;
	width: 100%;
	height: 52px;
}

.navbar-default .navbar-nav li a.nav-option{
	color: rgb(0, 77, 142);
	font-size: 18px;
}

.nav .dropdown .nav-option{
	color: rgb(0, 77, 142);
	font-size: 18px;

}

.navbar-right li{
	padding: 0;
	height: 52px;
	width: 160px;
	font-size: 18px;
}

.navbar-right a#button-a{
	border: none;
	background-image: linear-gradient(rgb(255, 213, 30), rgb(223, 184, 27)); 
	height: 52px;
	width: 160px;
	font-weight: 700;
	color: white;
	text-align: center;
}
#phone{
	margin-top: 20px;
	padding: 16px 32px 16px 10px;
	color: white;
	font-size: 24px;
	font-weight: 700;
	line-height: 32px;
	text-decoration: none;
}

#dashboard{
	color: #b3d9ff;
	padding: 20px 16px;
	font-size: 16px;
	line-height: 32px;
}

/*//START OF SPLASH PAGE//*/

.wrapper{
	background: #003e7a;
}

.splash{
	margin: 0 auto;
	padding: 0 !important;
	width: 100% !important;
	max-width: 1650px !important;
}

.splash-statement{
	width: 740px;
	height: 333px;
	background-color: rgba(0, 31, 63, 0.75);
	border-radius: 15px;
	position: relative;
	top: 50%;
	left: 120px;
	transform: translateY(-50%);
	padding: 48px;
	font-size: 24px;
	color: #fff;
}

.splash-statement h1{
	font-weight: 700;
	font-size: 48px;

}

.splash-statement a{
	color: #b3d9ff;
	font-size: 18px;
	text-decoration: underline;
}

.splash-statement a:hover{
	color: #b3d9ff;
	font-size: 18px;
	text-decoration: underline;
}

.row{
	max-width: 1640px;
	width: 100%;
	margin: 0 !important;
}

.splash-schedule{
	position: absolute;
	bottom: -82px;
	margin: 0 auto;
	width: 100%;
	height: 165px;
	z-index: 1;
}

.splash-schedule a:hover{
	text-decoration: none;
}

#block-schedule{
	width: 550px;
	height: 160px;
	margin: 0 auto;
	padding: 20px 0px 20px 30px;
	border-radius: 15px;
	background-image: linear-gradient(rgb(255, 213, 30), rgb(223, 184, 27)); 
}

#block-schedule p:nth-child(1){
	color: rgb(116, 96, 10);
	font-size: 24px;
	line-height: 31px;
}

#block-schedule p:nth-child(2){
	color: rgb(48, 48, 48);
	font-size: 38px;
	font-weight: 700;
	line-height: 41px;
}

#block-schedule p:nth-child(3){
	color: #fff;
	font-size: 18px;
	line-height: 25px;
}


#block-schedule i{
	display: block;
	position: relative;
	top: -90px;
	float: right;
	padding-right: 20px;
	font-size: 40px;
	color: #fff;
}

/*//START OF SERVICES BLOCK//*/

section#services .container{
	width: 1300px; 
}

.repair{
	margin-top: 80px;
	background-image: url('https://morrisjenkins.com/uploads/Modules/_560xAUTO_crop_center-center/service.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 15px;
	width: 600px;
	height: 250px;
}

.repair-text{
	position: absolute;
	bottom: 0;
	width: 600px;
	height: 60px;
	padding: 10px 30px 19px 20px;
	background-color: rgb(0, 77, 142);
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}

.repair-text span{
	font-size: 24px;
	color: #fff;
	font-weight: 700;
	float: left;
}

.repair-text i{
	font-size: 24px;
	margin-top: 5px;
	color: #fff;
	float: right;
}

.troubleShoot{
	margin-top: 80px;
	background-image:url('https://morrisjenkins.com/uploads/Modules/_560xAUTO_crop_center-center/module-troubleshoot.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 15px;
	width: 600px;
	height: 250px;
}

.troubleShoot-text{
	position: absolute;
	bottom: 0;
	width: 600px;
	height: 60px;
	padding: 10px 30px 19px 20px;
	background-color: rgb(0, 77, 142);
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}

.troubleShoot-text span{
	font-size: 24px;
	color: #fff;
	font-weight: 700;
	float: left;
}

.troubleShoot-text i{
	font-size: 24px;
	margin-top: 5px;
	color: #fff;
	float: right;
}

.specials{
	margin-top: 80px; 
	background-image: url(https://morrisjenkins.com/img/promo-furnace-bg.jpg);
	height: 216px;
	border-radius: 15px;
}





